
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    
    <div class="error-page">
       

        <div class="error-content">
            <h3><i class="fa fa-warning text-red"></i> Oops! This record has been referenced in the child table.</h3>

            <p>
                Make sure you delete all the associated references first !
            </p>

            
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>

